<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shadowwingz.androidlifedemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".systracedemo.SystraceActivity"/>
        <activity android:name=".eventdemo.EventActivity"/>
        <activity android:name=".customviewdemo.dashboard.DashBoardActivity"/>
        <activity android:name=".customviewdemo.conpon.CouponDisplayActivity"/>
        <activity android:name=".customviewdemo.CustomViewActivity"/>

        <activity android:name=".binderdemo.BookManagerActivity"/>

        <service
            android:name=".binderdemo.BookManagerService"
            android:process=":remote"/>

        <activity android:name=".layoutinflaterdemo.LayoutInflaterActivity"/>
        <activity android:name=".layoutparamsdemo.LayoutParamsActivity"/>
        <activity android:name=".setcontentviewdemo.EmptyActivity"/>
        <activity android:name=".memoryleakdemo.MemoryLeakActivity"/>

        <service
            android:name=".anrdemo.ForegroundService"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".handlerdemo.HandlerActivity"/>
        <activity android:name=".systracedemo.WordListMainActivity"/>
        <activity android:name=".systracedemo.EditWordActivity"/>
        <activity android:name=".systracedemo.LargeImageActivity"/>
    </application>

</manifest>